# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*.

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor.

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [393]:
import numpy as np
import pandas as pd

tit = pd.read_csv('./titanic_data.csv')

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [394]:
tit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [395]:
tit.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [396]:
tit.tail(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [397]:
# Sim, é possivel identificar dados faltantes, alem de ser possivel completar
# os dados tambem, usando as funções isnull() e fillna()


tit.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [398]:
tit.fillna(0, inplace=True)

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [399]:
tit.drop(columns = ['SibSp' , 'Parch' , 'Ticket'], inplace=True)

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [400]:
tit.rename(
    columns={
      'PassengerId': 'IdPassageiro',
      'Survived': 'Sobreviveu',
      'Pclass': 'Classe',
      'Name': 'Nome',
      'Sex': 'Sexo',
      'Age': 'Idade',
      'Fare': 'Tarifa',
      'Cabin': 'Cabine',
      'Embarked': 'Embarque'
            },
    inplace=True)

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [401]:
tit['Sobreviveu'] = tit['Sobreviveu'].map({0:"Não", 1:"Sim"})

tit.head()

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,0,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,S

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [402]:
tit['Sexo'] = tit['Sexo'].map({'female':'Mulher', 'male':'Homem'})

tit.head()

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",Homem,22.0,7.2500,0,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mulher,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",Mulher,26.0,7.9250,0,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mulher,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",Homem,35.0,8.0500,0,S

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [403]:
homens_ou_mulheres = tit[
    (tit['Sexo'] == 'Mulher') | (tit['Sexo'] == 'Homem')
]

homens_ou_mulheres['Sexo'].value_counts()

Homem     577
Mulher    314
Name: Sexo, dtype: int64

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [404]:
passageiros_vivos_ou_mortos = tit[
    (tit['Sobreviveu'] == 'Sim') | (tit['Sobreviveu'] == 'Não')
]

passageiros_vivos_ou_mortos['Sobreviveu'].value_counts()

Não    549
Sim    342
Name: Sobreviveu, dtype: int64

11 - Quantas mulheres não sobreviveram?

In [405]:
mulheres_mortas = tit[
  (tit['Sexo'] == 'Mulher') & (tit['Sobreviveu'] == 'Não')
]

mulheres_mortas['Sexo'].value_counts()

Mulher    81
Name: Sexo, dtype: int64

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [406]:
sobreviventes = tit[
    (tit['Sobreviveu'] == 'Sim')
]

sobreviventes['Sexo'].value_counts(normalize = True)

Mulher    0.681287
Homem     0.318713
Name: Sexo, dtype: float64

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [407]:
sobreviventes_mortos = tit[
    (tit['Sobreviveu'] == 'Não')
]

sobreviventes_mortos['Idade'].value_counts(ascending = False)

0.0     125
21.0     19
28.0     18
25.0     17
18.0     17
       ...
15.0      1
36.5      1
23.5      1
55.5      1
74.0      1
Name: Idade, Length: 78, dtype: int64

14 - Qual a média de idade dos homens sobreviventes?

In [408]:
# Recuperar do Dataset somente masculino
# Recuperar do Dataset somente sobreviventes
# Calcular a media das idades

media_sobreviventes_masculino = tit[
    (tit['Sobreviveu'] == 'Sim') & (tit['Sexo'] == 'Homem')
]

media_sobreviventes_masculino['Idade'].mean().round(2)

23.27

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [409]:
passageiros_prioritarios = tit[
    (tit['Sexo'] == 'Mulher') & (tit['Sobreviveu'] == 'Sim') | (tit['Sexo'] == 'Homem') & (tit['Idade'] <= 15) & (tit['Sobreviveu'] == 'Sim')
]

passageiros_prioritarios['Sexo'].value_counts(normalize=True)*100

Mulher    86.296296
Homem     13.703704
Name: Sexo, dtype: float64

16 - Qual a quantidade de passageiros por classe?

In [410]:
tit[['Classe']].value_counts()

Classe
3         491
1         216
2         184
dtype: int64

17 - Qual o percentual de sobreviventes por classe?

In [411]:
tit['Sobreviveu'] = tit['Sobreviveu'].map({'Não': 0, 'Sim': 1})

tit.groupby("Classe")[["Sobreviveu"]].mean() * 100

        Sobreviveu
Classe
1        62.962963
2        47.282609
3        24.236253

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [412]:
tit['Sobreviveu'] = tit['Sobreviveu'].map({0 : 'Não', 1:'Sim'})

tit.groupby("Sobreviveu")[["Sexo", "Classe"]].value_counts()

Sobreviveu  Sexo    Classe
Não         Homem   3         300
                    2          91
                    1          77
            Mulher  3          72
                    2           6
                    1           3
Sim         Mulher  1          91
                    3          72
                    2          70
            Homem   3          47
                    1          45
                    2          17
dtype: int64

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [413]:
homens_sobreviventes = tit[
    ((tit['Idade'] >= 24) & (tit['Idade'] <= 30) & (tit['Sexo'] == 'Homem'))]

homens_classe_3 = tit[(tit['Classe'] == 3) & (homens_sobreviventes['Sobreviveu'] == 'Sim')]

homens_classe_2 = tit[(tit['Classe'] == 2) & (homens_sobreviventes['Sobreviveu'] == 'Não')]

print("Homens que sobreviveram da classe 3")

print(homens_classe_3.shape[0])

print("Homens que não sobreviveram da Classe 2")

print(homens_classe_2.shape[0])

Homens que sobreviveram da classe 3
12
Homens que não sobreviveram da Classe 2
24